# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - outlay-eh-service

on:
  push:
    branches:
      - development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'microsoft'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean install

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: outlay-eh-service
          path: '${{ github.workspace }}/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'development'
    permissions:
      id-token: write # Required for requesting the JWT

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: outlay-eh-service

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: 'fd0e3563-bd51-4abb-8ee2-6c97e326a01c'
          tenant-id: 'f3f67193-3f5a-4b1e-ba8a-f4b397127a9f'
          subscription-id: '51865405-291c-44b8-b9cb-19711527de76'

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'outlay-eh-service'
          package: 'outlay-eh-service/*.jar'

      - name: Show WebApp URL
        run: echo "App deployed at ${{ steps.deploy-to-webapp.outputs.webapp-url }}"

      - name: Health check
        run: |
          curl -sSf ${{ steps.deploy-to-webapp.outputs.webapp-url }} || echo "Health check failed"